
  <main id="main" class="main">
    <app-home *ngIf="(page === 'home' || page === 'none')"></app-home>
    <app-alert *ngIf="(page === 'alert')"></app-alert>
    <app-accordion *ngIf="(page === 'accordion')"></app-accordion>
    <app-badges *ngIf="(page === 'badges')"></app-badges>
    <app-breadcrumbs *ngIf="(page === 'breadcrumbs')"></app-breadcrumbs>
    <app-buttons *ngIf="(page === 'buttons')"></app-buttons>
    <app-cards *ngIf="(page === 'cards')"></app-cards>
    <app-chartjs *ngIf="(page === 'chartjs')"></app-chartjs>
    <app-carousel *ngIf="(page === 'carousel')"></app-carousel>
    <app-list-group *ngIf="(page === 'listGroups')"></app-list-group>
    <app-modal *ngIf="(page === 'modals')"></app-modal>
    <app-pagination *ngIf="(page === 'pagination')"></app-pagination>
    <app-progress *ngIf="(page === 'progress')"></app-progress>
    <app-tabs *ngIf="(page === 'tabs')"></app-tabs>
    <app-spinners *ngIf="(page === 'spinners')"></app-spinners>
    <app-tooltips *ngIf="(page === 'tooltips')"></app-tooltips>
    <app-formEditors *ngIf="(page === 'formEditors')"></app-formEditors>
    <app-formElements *ngIf="(page === 'formElements')"></app-formElements>
    <app-formLayouts *ngIf="(page === 'formLayouts')"></app-formLayouts>
  </main>
