  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="#" (click)="changePage('home')">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Components</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="#" (click)="changePage('alert')">
              <i class="bi bi-exclamation-lg"></i><span>Alerts</span>
            </a>
          </li>
          <li>
            <a href="#" (click)="changePage('accordion')">
              <i class="bi bi-eyeglasses" ></i><span>Accordion</span>
            </a>
          </li>
          <li>
            <a href="#" (click)="changePage('badges')">
              <i class="bi bi-file-break"></i><span>Badges</span>
            </a>
          </li>
          <li>
            <a href="#" (click)="changePage('breadcrumbs')">
              <i class="bi bi-fingerprint"></i><span>Breadcrumbs</span>
            </a>
          </li>
          <li>
            <a href="#" (click)="changePage('buttons')">
              <i class="bi bi-pause-circle"></i><span>Buttons</span>
            </a>
          </li>
          <li>
            <a href="#" (click)="changePage('cards')">
              <i class="bi bi-folder2"></i><span>Cards</span>
            </a>
          </li>
          <li>
            <a href="#" (click)="changePage('carousel')">
              <i class="bi bi-fuel-pump"></i><span>Carousel</span>
            </a>
          </li>
          <li>
            <a href="#" (click)="changePage('listGroups')">
              <i class="bi bi-circle"></i><span>List group</span>
            </a>
          </li>
          <li>
            <a href="#" (click)="changePage('modals')">
              <i class="bi bi-globe2"></i><span>Modal</span>
            </a>
          </li>
          <li>
            <a href="#" (click)="changePage('tabs')">
              <i class="bi bi-pause"></i><span>Tabs</span>
            </a>
          </li>
          <li>
            <a href="#" (click)="changePage('pagination')">
              <i class="bi bi-grid-3x3"></i><span>Pagination</span>
            </a>
          </li>
          <li>
            <a href="#" (click)="changePage('progress')">
              <i class="bi bi-pentagon"></i><span>Progress</span>
            </a>
          </li>
          <li>
            <a href="#" (click)="changePage('spinners')">
              <i class="bi bi-hammer"></i><span>Spinners</span>
            </a>
          </li>
          <li>
            <a href="#" (click)="changePage('tooltips')">
              <i class="bi bi-headphones"></i><span>Tooltips</span>
            </a>
          </li>
        </ul>
      </li><!-- End Components Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-journal-text"></i><span>Forms</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="#" (click)="changePage('formElements')">
              <i class="bi bi-filter-square"></i><span>Form Elements</span>
            </a>
          </li>
          <li>
            <a href="#" (click)="changePage('formLayouts')">
              <i class="bi bi-flag"></i><span>Form Layouts</span>
            </a>
          </li>
          <li>
            <a href="#" (click)="changePage('formEditors')">
              <i class="bi bi-flower1"></i><span>Form Editors</span>
            </a>
          </li>
          <li>
            <a href="#" (click)="changePage('formValidation')">
              <i class="bi bi-file-earmark-excel"></i><span>Form Validation</span>
            </a>
          </li>
        </ul>
      </li><!-- End Forms Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-layout-text-window-reverse"></i><span>Tables</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="#" (click)="changePage('tablesGeneral')">
              <i class="bi bi-table"></i><span>General Tables</span>
            </a>
          </li>
          <li>
            <a href="#" (click)="changePage('tablesData')">
              <i class="bi bi-tablet"></i><span>Data Tables</span>
            </a>
          </li>
        </ul>
      </li><!-- End Tables Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-bar-chart"></i><span>Charts</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="#" (click)="changePage('chartjs')">
              <i class="bi bi-tag"></i><span>Chart.js</span>
            </a>
          </li>
          <li>
            <a href="#" (click)="changePage('apexCharts')">
              <i class="bi bi-bar-chart"></i><span>ApexCharts</span>
            </a>
          </li>
          <li>
            <a href="#" (click)="changePage('eCharts')">
              <i class="bi bi-basket"></i><span>ECharts</span>
            </a>
          </li>
        </ul>
      </li><!-- End Charts Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-gem"></i><span>Icons</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="icons-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="#" (click)="changePage('icons')">
              <i class="bi bi-plug"></i><span>Bootstrap Icons</span>
            </a>
          </li>
          <li>
            <a href="#" (click)="changePage('remix')">
              <i class="bi bi-bandaid"></i><span>Remix Icons</span>
            </a>
          </li>
          <li>
            <a href="#" (click)="changePage('boxicons')">
              <i class="bi bi-ban"></i><span>Boxicons</span>
            </a>
          </li>
        </ul>
      </li><!-- End Icons Nav -->

      <li class="nav-heading">Pages</li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="#">
          <i class="bi bi-person"></i>
          <span>Profile</span>
        </a>
      </li><!-- End Profile Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="#">
          <i class="bi bi-question-circle"></i>
          <span>F.A.Q</span>
        </a>
      </li><!-- End F.A.Q Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="#">
          <i class="bi bi-envelope"></i>
          <span>Contact</span>
        </a>
      </li><!-- End Contact Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="#">
          <i class="bi bi-card-list"></i>
          <span>Register</span>
        </a>
      </li><!-- End Register Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="#">
          <i class="bi bi-box-arrow-in-right"></i>
          <span>Login</span>
        </a>
      </li><!-- End Login Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="#">
          <i class="bi bi-dash-circle"></i>
          <span>Error 404</span>
        </a>
      </li><!-- End Error 404 Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="#">
          <i class="bi bi-file-earmark"></i>
          <span>Blank</span>
        </a>
      </li><!-- End Blank Page Nav -->

    </ul>

  </aside><!-- End Sidebar-->
