    <div class="pagetitle">
      <h1>Chart.js</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Charts</li>
          <li class="breadcrumb-item active">Chart.js</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">

      <div class="row">
        <div class="col-lg-6">
          <app-linechart></app-linechart>
        </div>

        <div class="col-lg-6">
          <app-barchart></app-barchart>
        </div>

        <div class="col-lg-6">
          <app-piechart></app-piechart>
        </div>

        <div class="col-lg-6">
          <app-doughnutchart></app-doughnutchart>
        </div>

        <div class="col-lg-6">
          <app-radarchart></app-radarchart>
        </div>

        <div class="col-lg-6">
          <app-polarareachart></app-polarareachart>
        </div>

        <div class="col-lg-6">
          <app-stakedbarchart></app-stakedbarchart>
        </div>

        <div class="col-lg-6">
          <app-bubblechart></app-bubblechart>
        </div>

      </div>
    </section>
